h1,
h2,
button,
section,
p,
article,
body,
div,
html {
  margin: 0;
  padding: 0;
}

h1,
h2,
code {
  font-size: 0;
  font: inherit;
}

body {
}

.wrapper {
  max-width: 1500px;
  min-width: 900px;
  margin: 0 auto;
}

.start {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* display: none; */
}

/* flex 왜 안먹지 */

.tournament {
  display: none;
  /* height: 100vh; */
  /* width: 100%; */
  /* box-shadow: inset 0 0 10px yellowgreen; */
  margin-top: 70px;
  position: relative;
}
.tournamentAlign {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}
.end {
  /* box-shadow: inset 0 0 10px green; */
  height: 100vh;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none; */
  position: relative;
  box-shadow: inset 0 0 10px red;
}

.endAlign {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.center {
  box-shadow: inset 0 0 10px blanchedalmond;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  font-size: 60px;
  padding: 20px 150px;
  background-color: rgb(255, 132, 132);
}

.startButton {
  display: block;
  margin: auto;
  font-size: 40px;
  margin-top: 250px;
  margin-bottom: 40px;
  padding: 15px 100px;
  border-style: none;
  border-radius: 10px;
  font-weight: bold;
  background-color: rgb(255, 99, 99);
}
.startButton:hover {
}
.startButton:active {
  box-shadow: 0 0 10px black;
  background-color: rgb(240, 94, 94);
}
.start p {
  text-align: center;
  margin: 10px;
}

.secondTitle {
  /* box-shadow: inset 0 0 10px blue; */
  text-align: center;
  margin-top: 30px;
  padding: 20px;
  font-size: 40px;
}

.line {
  border-bottom: solid 2px black;
}
.cardWrapper {
  display: flex;
  padding: 20px;
  gap: 60px;
}

.card {
  margin: 20px auto;
  height: 600px;
  background-color: rgb(58, 55, 58);
  /* box-shadow: inset 0 0 10px blue; */
  font-size: 16px;
  position: relative;
}

.cardLeft {
  margin-right: 0;
  /* box-shadow: inset 0 0 10px red; */
}

.cardRight {
  margin-left: 0;
}
.codeSet {
  display: block;
  width: 400px;
  padding: 30px;
  color: white;
  /* box-shadow: inset 0 0 10px teal; */
  font-size: 16px;
}

.codeLeft {
}

.codeRight {
}

.cardButton {
  display: block;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 0;

  padding: 10px;
  font-size: 24px;
  background-color: rgb(255, 142, 130);
  border: none;
  border-radius: 15px;
  position: absolute;
  margin-bottom: -60px;
  bottom: 0;
}

.cardButton:hover {
}
.cardButton:active {
  box-shadow: 0 0 10px black;
  background-color: rgb(234, 107, 107);
}

.end {
  margin: auto;
}

.endButton {
  display: block;
  margin: auto;
  font-size: 32px;
  margin-top: 100px;
  padding: 15px 90px;
  border-style: none;
  border-radius: 10px;
  font-weight: bold;
  background-color: rgb(255, 97, 97);
}
.endButton:hover {
}
.endButton:active {
  box-shadow: 0 0 10px black;
  background-color: rgb(190, 76, 76);
}

.endTitle {
  text-align: center;
  font-size: 50px;
  margin-bottom: 100px;
}

.resultText {
  margin-top: 50px;
  text-align: center;
  font-size: 30px;
}

#winFont {
  display: block;
  vertical-align: middle;
  font-size: 80px;
  margin: 0;
  padding: 50px;
}

.sorry {
  margin-top: 50px;
  font: 20px;
  text-align: center;
  color: rgb(180, 180, 180);
}
